.header {
    background-color: 071108;
    text-align: center;
    padding: 80px;
    }
      .mx-auto{
        text-align: center;
      }
      .header-text {
    font-family: "DilleniaUPC", Times, serif;
    font-size: 100px;
    color:white;
    text-align: center;
  }
  .header-text2 {
    font-family: "DilleniaUPC", Times, serif;
    font-size: 70px;
    color:white;
    text-align: center;
  }
    .bg-custom{
      background-color: 5EB1BF;
    }
    .navbar-light .navbar-brand{
      font-family: "DilleniaUPC", Times, serif;
      font-size: 30px;
      color: white;
      padding: 5px;
    }
    .navbar-nav .nav-item .nav-link{
      font-family: "DilleniaUPC", Times, serif;
      font-size: 30px;
      color: white;
    }  
    body{
        background-color: #f3f3f6;
     }  

    .list-group .list-group-item :active{
            background-color: 071108;
        
     }
     .white-space{
        padding: 3%;
      }
      p{
        font-family: "DilleniaUPC", Times, serif;
      }

      body{
        font-family: "DilleniaUPC", Times, serif;
      }

     